:root {
  --basic-white: #ffffff;
  --basic-extra-white: #eeeeee;
  --basic-white-light: #ebebeb;
  --basic-extra-light: #f2f2f2;
  --basic-blue: #81b3d2;
  --basic-extra-blue: #669ec0;
  --basic-blue-light: #5496bd;
  --basic-brown: #766357;
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --basic-light-grey: #e5e5e5;
  --basic-grey: #888888;
  --basic-brown-light: #503e33;
  --basic-extra-brown: #604e43;
  --basic-extra-grey: #6a6a6a;
  --basic-clear-grey: #bdbbbc;
  --basic-dark-grey: #666666;
  --basic-lightly-grey: #a9a9a9;
}

.body {
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.circuit {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 138px;
}

.main-header-bar li {
  margin-right: 134px;
}

.main-header-bar li:nth-child(2) {
  margin-right: auto;
}

.main-header-bar li:last-child {
  margin-right: 0px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-nav-wrapper {
  padding: 15px 72px;
}

.site-nav {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  color: var(--basic-black);
}

.site-nav a:hover {
  color: var(--basic-blue);
}

.site-nav a:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.site-nav a:active {
  color: var(--basic-brown);
}

.promo-first-list {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
  padding-top: 55px;
  padding-bottom: 24px;
}

.welcom2 {
  padding-top: 11px;
  padding-bottom: 53px;
}

.promo-first {
  text-align: center;
  background-image: url("../img/fone.png"), url("../img/welcomphoto.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, center;
}

.promo-second {
  text-align: center;
  padding-top: 43px;
  padding-bottom: 51px;
}

.promo-second h3 {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  width: 400px;
  height: 256px;
}

.photo {
  display: flex;
  justify-content: center;
}

.blue h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.blue p {
  line-height: 21px;
}

.feature-item {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 82px;
}

.features-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.features-list p {
  line-height: 21px;
}

.content {
  background-color: var(--basic-extra-white);
}

.content-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-top: 47px;
  padding-bottom: 54px;
  margin: 0px;
}

.content-item {
  text-align: center;
}

.content-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.content-item p {
  line-height: 21px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: none;
  border: none;
}

.button span:focus {
  opacity: 30%;
}

.button-brown {
  background-color: var(--basic-brown);
}

.button-brown:hover {
  background-color: var(--basic-extra-brown);
}

.button-brown:focus {
  background-color: var(--basic-brown-light);
}

.button-brown:focus span {
  opacity: 0.3;
}

.button-blue {
  background-color: var(--basic-blue);
}

.button-blue:hover {
  background-color: var(--basic-extra-blue);
}

.button-blue:focus {
  background-color: var(--basic-blue-light);
}

.button-blue:focus span {
  opacity: 0.3;
}

.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.search p {
  line-height: 24px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  font-size: 21px;
  font-weight: 700;
  width: 568px;
  height: 395px;
  margin: 0px;
  margin-left: 315px;
}

.search-form .button {
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  height: 58px;
}

.search-form label {
  margin-left: 55px;
}

.search .button {
  font-size: 21px;
  font-weight: 700;
  width: 568px;
  height: 86px;
  margin-top: 24px;
}

.date-picker {
  width: 274px;
  height: 38px;
  padding: 0px;
  margin: 0px;
  margin-right: 55px;
  font-weight: 700;
  background-color: var(--basic-extra-light);
  border: none;
  padding-left: 12px;
}

.date-picker::-webkit-calendar-picker-indicator {
  background-image: url("../img/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.date-picker:hover {
  background-color: var(--basic-white-light);
}

.date-picker:focus {
  background-color: var(--basic-white);
  outline: 2px solid #e5e5e5;
}

.input-adults {
  width: 38px;
  height: 38px;
  background-color: var(--basic-extra-light);
  text-align: center;
  border: none;
}

.input-children {
  width: 38px;
  height: 38px;
  background-color: var(--basic-extra-light);
  text-align: center;
  border: none;
}

.range-filter {
  width: 317px;
  margin-bottom: 67px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-footer {
  text-align: center;
  color: var(--basic-black);
}

.main-footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}

.footer-phone {
  color: inherit;
}

.footer-social {
  justify-self: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button:hover {
  background-color: var(--basic-extra-blue);
}

.social-button:focus {
  background-color: var(--basic-blue-light);
}

.social-button:focus svg {
  opacity: 0.3;
}

.websitelogo:hover path {
  fill: var(--basic-blue);
}

.websitelogo:focus path {
  fill: var(--basic-clear-grey);
}

.parameters-form-fieldset:last-child {
  margin-left: auto;
}

.parameters fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.parameters {
  display: grid;
  padding-top: 43px;
  padding-right: 73px;
  padding-bottom: 36px;
  padding-left: 72px;
  color: var(--basic-white);
  background-image: url("../img/catalogfon.jpg");
  background-repeat: no-repeat;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
}

.parameters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding-right: 117px;
}

.parameters-list {
  list-style: none;
}

.parameters-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.parameters-item {
  margin-bottom: 25px;
  padding-left: 112px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 0px;
}

.parameters-form-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 20px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.parameters-form-input-checkbox:checked + label::before {
  border-color: transparent;
}

.parameters-form-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkboxon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.parameters-form {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

.range-controls {
  position: relative;
  height: 21px;
  margin-top: 11px;
  padding-top: 11px;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #2de707;
}

.range-controls .scale {
  height: 2px;
  background: #ffffff;
  opacity: 30%;
}

.range-controls .toggle {
  position: absolute;
  top: 2px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 250px;
}

.price-controls input {
  padding: 10px;
  margin-left: 0px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background: none;
  border: solid 2px #ffffff;
  width: 317px;
}

.button-filtre {
  padding: 10px;
  margin-left: 100px;
  margin-top: 33px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background: none;
  border: solid 2px #ffffff;
  width: 137px;
  height: 36px;
}

.input[disabled] + label:before {
  color: var(--basic-extra-grey);
}

.sorting {
  display: flex;
}

.sorting-list {
  padding: 0;
  margin-left: 73px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.sorting h2 {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  padding-left: 73px;
  padding-right: 46px;
  margin-top: auto;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  padding-right: 40px;
  margin-top: 15px;
}

.sortings {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 30%;
  border-bottom: 1px dashed #81b3d2;
}

.sortings:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed #81b3d2;
}

.sortings:focus {
  color: var(--basic-black);
  text-decoration: none;
  border: none;
}

.sortings:active {
  color: var(--basic-blue);
  text-decoration: none;
}

.up:hover path,
.down:hover path {
  fill: var(--basic-black);
}

.up:focus:active path,
.down:focus:active path {
  fill: var(--basic-blue);
}

.sort {
  margin-left: auto;
  margin-right: 73px;
  margin-top: 15px;
}

.byprice {
  color: var(--basic-blue);
  text-decoration: none;
  border: none;
}

.container-list {
  list-style: none;
}

.container-list a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.container-list a:hover {
  color: var(--basic-blue);
}

.container-list a:focus {
  opacity: 30%;
}

.container-list p {
  line-height: 21px;
}

.button-star {
  background-color: var(--basic-extra-light);
  line-height: 21px;
  color: var(--basic-dark-grey);
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.container-item {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-left: 73px;
  padding-right: 73px;
  border-top: 1px solid #e5e5e5;
}

.container-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.container-item img {
  width: 135px;
  height: 90px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bloc {
  padding-top: 10px;
  padding-left: 29px;
}

.bloc .button-blue {
  width: 110px;
  height: 27px;
  margin-right: 6px;
}

.bloc .button-brown {
  width: 142px;
  height: 27px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-left: auto;
  width: 110px;
  height: 91px;
}

.ratings {
  background-color: var(--basic-extra-light);
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 3px;
  width: 110px;
  margin-top: 25px;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
}

.websitelogo {
  margin-left: 15px;
}

.controls_wrap {
  display: flex;
}

.minusplus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--basic-lightly-grey);
}

.minusplus:hover rect {
  fill: var(--basic-black);
}

.minusplus:focus rect {
  fill: var(--basic-blue);
}

.minusplus:hover path {
  fill: var(--basic-black);
}

.minusplus:focus path {
  fill: var(--basic-blue);
}

.modal-search .button-blue {
  padding: 0px;
  margin-left: 55px;
}
/*.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
}

.modal-search {
  top: 120px;
  bottom: auto;
  width: 458px;
  padding: 55px;
}

.modal-map {
  width: 1199px;
  height: 594px;
  border: 1px solid white;
}*/
