:root {
  --basic-white: #ffffff;
  --basic-extra-white: #eeeeee;
  --basic-white-light: #ebebeb;
  --basic-extra-light: #f2f2f2;
  --basic-blue: #81b3d2;
  --basic-extra-blue: #669ec0;
  --basic-blue-light: #5496bd;
  --basic-brown: #766357;
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --basic-light-grey: #e5e5e5;
  --basic-grey: BDBBBC;
  --basic-brown-light: #503e33;
  --basic-extra-brown: #604e43;
}
.page {
  height: 100%;
  background-color: var(--basic-extra-light);
}

.page-body {
  width: 1200px;
  height: 2762px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.main-nav a {
  color: var(--basic-black);
}

.main-nav-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--basic-white);
}

.main-header-logo {
  width: 138px;
  height: 70px;
  order: 2;
  position: absolute;
  top: 0px;
  left: 500px;
  margin: 0;
}

.main-header-bar {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-nav {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
}

.site-nav li {
  display: inline-block;
  margin-right: 1em;
}

.site-nav a:hover {
  color: var(--basic-blue);
}

.site-nav a:focus {
  color: var(--basic-black);
}

.site-nav a:active {
  color: var(--basic-brown);
}
.promo-first {
  background-image: url("../img/welcomphoto.jpg");
  width: 1200px;
  height: 509px;
}

.promo-first-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 216px;
  line-height: 26px;
}

.promo-second h3 {
  display: flex;
  width: 434px;
  height: 80px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0px;
}

.promo-second p {
  line-height: 26px;
  padding-top: 17px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-top: 42px;
}

.features-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1200px;
  height: 330px;
}

.feature-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 28px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding-bottom: 25px;
}

.feature-item p {
  padding-bottom: 25px;
}

.blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  height: 206px;
  text-align: center;
  padding-top: 50px;
}

.content {
  background-color: var(--basic-extra-white);
}

.content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 256px;
}

.content-item {
  text-align: center;
  width: 300px;
  margin-right: 40px;
}

.content-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
}

.search-info {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.search-item {
  margin-top: 0;
  margin-bottom: 29px;
  width: 568px;
}

.search .button {
  margin-top: 10px;
  margin-right: 0;
  line-height: 26px;
  font-weight: 700;
}

.search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: none;
}
.button-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.button-brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.button-brown:hover {
  background-color: var(--basic-extra-brown);
}

.button-brown:focus {
  background-color: var(--basic-brown-light);
}

.button-blue:hover,
.social-item:hover {
  background-color: var(--basic-extra-blue);
}

.button-blue:focus,
.social-item:focus {
  background-color: var(--basic-blue-light);
}

.search-item input {
  font: inherit;
}

.search-item input:hover {
  background-color: var(--basic-white-light);
}

.search-item input:focus {
  background-color: var(--basic-white);
}

.button-website:hover {
  color: var(--basic-blue);
}

.button-website:focus {
  color: var(--basic-grey);
}

.parameters fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.parameters {
  color: var(--basic-white);
  background-color: var(--basic-extra-black);
}

.parameters legend {
  margin-bottom: 23px;
  font-size: 16x;
  line-height: 21px;
  font-weight: 700;
}

.parameters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.parameters-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting {
  display: flex;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: flex;
  list-style: none;
}

.sorting-item:hover .sorting-item:active {
  color: var(--basic-blue);
}

.sorting-item:focus {
  color: var(--basic-black);
}

.container-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.search .button-brown {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search .button-blue {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.parameters-form {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-footer {
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 1200px;
  height: 120px;
}
.main-footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  justify-self: center;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue-light);
  justify-content: center;
}

.footer-social ul {
  list-style: none;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 153px;
}

.footer-phone {
  color: inherit;
}
